@using WebKozein.Models.FilterSortView;
@using WebKozein.Models.CodeFirst;
@using WebKozein.Models.ComboBox;
@model IndexViewModel
@{
    InformDataBase ModelInfo = new InformDataBase();
    TableComboBox comboBox = new TableComboBox();
}

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="p-1">
                <a asp-action="Index" asp-controller="Main" role="button" class="btn btn-outline-secondary">Вернуться назад</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-1">
                <a asp-action="Create" role="button" class="btn btn-outline-primary">Добавить</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <div class="p-1">
                <a asp-action="Weight" asp-route-sortOrder="@Model.SortViewModel.IdSort"
                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime"
                   role="button" class="btn btn-primary">Расчет весов</a>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="p-1">
                <a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.IdSort"
                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime"
                   asp-route-Pareto="true"
                   role="button" class="btn btn-primary">
                    Метод Парето
                </a>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="p-1">
                <a asp-action="Index" asp-route-sortOrder="@Model.SortViewModel.IdSort"
                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime"
                   asp-route-Pareto="true"
                   asp-route-Hierarchy="true"
                   role="button" class="btn btn-primary">
                    Метод иерархий
                </a>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="p-1">
                <a asp-action="Reset" role="button" class="btn btn-danger">Сброс решения</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-1">
                <form asp-action="Index">
                    <div class="form-inline">
                        <input id="fCost" name="fCost" type="number" value="@Model.FilterViewModel.SelectedCost" placeholder="Стоимость" />
                        <input id="fElectricity" name="fElectricity" type="number" value="@Model.FilterViewModel.SelectedElectricity" placeholder="Электричество" />
                        <input id="fPower" name="fPower" type="number" value="@Model.FilterViewModel.SelectedPower" placeholder="Количество" />
                        <input id="fPowerTime" name="fPowerTime" type="number" value="@Model.FilterViewModel.SelectedPowerTime" placeholder="Время" />
                        @Html.CheckBox("fRule", Model.FilterViewModel.SelectedRule)
                        <label for="fRule">Условие</label>
                        <button class="btn btn-primary" type="submit">Фильтровать</button>
                        <button class="btn btn-danger" type="submit" onclick="resetSumbit()">Сброс</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.IdSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Id)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.NameSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Name)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.CostSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Cost)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.ElectricitySort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Electricity)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.WaterSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Water)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.AirSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Air)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.PowerSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Power)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.PowerTimeSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.PowerTime)
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@Model.SortViewModel.WeightSort"
                                   asp-route-fCost="@Model.FilterViewModel.SelectedCost"
                                   asp-route-fElectricity="@Model.FilterViewModel.SelectedElectricity"
                                   asp-route-fPower="@Model.FilterViewModel.SelectedPower"
                                   asp-route-fPowerTime="@Model.FilterViewModel.SelectedPowerTime">
                                    @Html.DisplayNameFor(model => ModelInfo.Weight)
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InformDataBases)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem=>item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Electricity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Water)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Air)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Power)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PowerTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.FlagFilter == false)
{
    <script type="text/javascript">alert("Не произведен отбор по условиям")</script>
}
@if (ViewBag.FlagPareto == false)
{
    <script type="text/javascript">alert("Не произведен отбор методом Парето")</script>
}
@if(ViewBag.Weight == false)
{
      <script type="text/javascript">alert("Не произведен расчет Весов кретериев")</script>  
}

<script type="text/javascript">
    function resetSumbit(){
        document.getElementById("fCost").value = null;
        document.getElementById("fElectricity").value = null;
        document.getElementById("fPower").value = null;
        document.getElementById("fPowerTime").value = null;
    }
</script>