@model IEnumerable<WebKozein.Models.CodeFirst.InformDataBase>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CostSort"]">
                    @Html.DisplayNameFor(model => model.Cost)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ElectricitySort"]">
                    @Html.DisplayNameFor(model => model.Electricity)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WaterSort"]">
                    @Html.DisplayNameFor(model => model.Water)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AirSort"]">
                    @Html.DisplayNameFor(model => model.Air)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PowerSort"]">
                    @Html.DisplayNameFor(model => model.Power)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PowerTimeSort"]">
                    @Html.DisplayNameFor(model => model.PowerTime)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Electricity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Water)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Air)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Power)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
